{% load static %}
<div class="sidebar" data-image="{% static 'admin/asset/img/sidebar-5.jpg' %}">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="#" class="simple-text">
                Dashboard
            </a>
        </div>
        <ul class="nav">
            <li class="nav-item li-side-dashboard">
                <a class="nav-link" href="/admin/">
                    <i class="nc-icon nc-chart-pie-35"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="li-side-list">
                <a class="nav-link" href="/admin/mysite/list">
                    <i class="nc-icon nc-notes"></i>
                    <p>Content List</p>
                </a>
            </li>
            <li class="li-side-page">
                <a class="nav-link" href="/admin/mysite/page">
                    <i class="nc-icon nc-bulb-63"></i>
                    <p>Page</p>
                </a>
            </li>
            <!-- <li>
                <a class="nav-link" href="./notifications.html">
                    <i class="nc-icon nc-bell-55"></i>
                    <p>Notifications</p>
                </a>
            </li> -->
        </ul>
    </div>
</div>
