.profolio_button {
  width: 120px;
}

.listHead {
  padding-top: calc(4rem + 74px);
  padding-bottom: 3rem;
}

.listHead-heading {
  font-size: 1.75rem;
  line-height: 1.75rem;
}

.sidebar {
  padding-left: 5em; }
  @media (max-width: 991.98px) {
    .sidebar {
      padding-left: 15px; } }

.sidebar-box {
  margin-bottom: 4em;
  font-size: 15px;
  width: 100%;
  float: left;
  background: #fff;
}

.content_list {
  padding-bottom: 3em;
}

.sidebar-box *:last-child {
  margin-bottom: 0;
}

.sidebar-box .heading {
  font-size: 18px;
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e6e6e6;
}

.tags {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

.tags li {
  padding: 0;
  margin: 0 4px 4px 0;
  float: left;
  display: inline-block;
}

.tags li a {
  float: left;
  display: block;
  border-radius: 4px;
  padding: 2px 6px;
  color: gray;
  background: #f2f2f2;
}

.tags li a:hover {
  color: #fff;
  background: #2f89fc;
}

.hide {
  display:none;
}
