<!DOCTYPE html>
{% load static %}
<html lang="en">
{% include "mysite/head.html" %}
<body id="page-top">
  {% include "mysite/nav.html" %}
  <section class="listHead listHead-heading bg-primary text-white text-uppercase mb-0 text-center ">
    <div class="ml-5">
      <a href="/mysite/list/"><div class="center text-white">blogs</div></a>
    </div>
  </section>
  <section class="page-section" id="list_body">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="content_list">
            {% if articles %}
                <ul>
                {% for article in articles %}
                    <li><a href="/mysite/page/{{article.id}}">{{ article.title }}</a></li>
                {% endfor %}
                </ul>
            {% else %}
                <p>No contents are available.</p>
            {% endif %}
          </div>

          <!-- pagination -->
          {% if articles %}
          <div class="pagination-wrapper">
            {% if lek %}
              <input type="text" class="d-none" id="lek_id" name="id" value="{{ lek.id.S }}">
              <input type="text" class="d-none" id="lek_title" name="title" value="{{ lek.title.S }}">
            {% endif %}
            <svg class="page_btn btn--prev" height="60" viewBox="0 0 24 24" width="96" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z"/>
              <path d="M0-.5h24v24H0z" fill="none"/>
            </svg>
            <div class="pagination-container">
              <div class="little-dot  little-dot--first"></div>
              <div class="little-dot">
                <div class="big-dot-container">
                  <div class="big-dot"></div>
                </div>
              </div>
              <div class="little-dot  little-dot--last"></div>
            </div>
            <svg class="page_btn btn--next" height="60" viewBox="0 0 24 24" width="96" xmlns="http://www.w3.org/2000/svg">
              <path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"/>
              <path d="M0-.25h24v24H0z" fill="none"/>
            </svg>
          </div>
          {% endif %}
        </div>
        {% load static %}
        <div class="col-md-12 col-lg-4 sidebar">
          <div class="sidebar-box search-form-wrap">
            <form action="/list_filter/keyword" class="search-form" method="post"> {% csrf_token %}
              <div class="form-group">
                <input type="text" class="form-control" id="s" placeholder="Type a keyword and hit enter" name="keyword">
              </div>
            </form>
          </div>
          <!-- END sidebar-box -->
          <div class="sidebar-box">
            <h3 class="heading">Categories</h3>
            {% if cats %}
            <ul class="categories">
              {% for cat in cats %}
              <li><a href="/list_filter/cat/{{ cat.category_name }}">{{ cat.category_name }} <span> {% if cat.cnt %} ({{ cat.cnt}}) {% endif %}</span></a></li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
          <!-- END sidebar-box -->
          <div class="sidebar-box">
            <h3 class="heading">Tags</h3>
            <ul class="tags">
              {% if tags %}
                {% for tag in tags %}
                <li><a href="/list_filter/tag/{{ tag.tag_name }}">{{ tag.tag_name }}</a></li>
                {% endfor %}
              {% endif %}
            </ul>
          </div>
          <!-- END sidebar-box -->
          <div class="sidebar-box">
            <div class="bio text-center">
              <img src="/static/mysite/img/avataaars.svg" alt="Image Placeholder" class="img-fluid mb-5">
              <div class="bio-body">
                <h2>Yulong Zhou</h2>
                <p class="mb-4">Stay fool, Stay Hungry</p>
                <p><a href="https://www.linkedin.com/in/yulongzhou/" class="btn btn-primary btn-sm rounded px-4 py-2" target="_blank">View me</a></p>
              </div>
            </div>
          </div>
          <!-- END sidebar-box -->
          {% if recentPost %}
          <div class="sidebar-box">
            <h3 class="heading">Popular Posts</h3>
            <div class="post-entry-sidebar">
              <ul>
                <li>
                  <a href="">
                    <div class="text">
                      <h5>There’s a Cool New Way for Men to Wear Socks and Sandals</h4>
                      <div class="post-meta">
                        <span class="mr-2">March 15, 2018 </span>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="">
                    <div class="text">
                      <h5>There’s a Cool New Way for Men to Wear Socks and Sandals</h4>
                      <div class="post-meta">
                        <span class="mr-2">March 15, 2018 </span>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          {% endif %}
        </div>
        <!-- END sidebar -->
      </div>
    </div>
  </section>

  {% include "mysite/footer.html" %}
  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'mysite/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'mysite/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'mysite/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Contact Form JavaScript -->
  <script src="{% static 'mysite/js/jqBootstrapValidation.js' %}"></script>
  <script src="{% static 'mysite/js/contact_me.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'mysite/js/freelancer.min.js' %}"></script>
  <script src="{% static 'mysite/js/site.js' %}"></script>

  <script type="text/javascript">
    var pagination_stack = [];
    if (pagination_stack.length == 0) {
      if ($('#lek_id').val() == undefined) {
        $('.pagination-wrapper').addClass('d-none');
      } else {
        pagination_stack.push({'id': $('#lek_id').val(), 'title': $('#lek_title').val()});
        $('.btn--prev').addClass('d-none');
      }
    }

    $('.categories a').click(function(e) {
      e.preventDefault();
      search($(this).attr('href'));
    });

    $('.tags a').click(function(e) {
      e.preventDefault();
      search($(this).attr('href'));
    });

    function search(url) {
      $.ajax (
        {
          type: 'GET',
          url: url,
          dataType: 'json',
          success: function(data) {
            generateContentList(data.articles);
          },
        }
      );
    }

    $('.page_btn').click(function() {
      let lek = {'id': '', 'title': ''};
      var tmp_stack = [];
      if ($(this).hasClass('btn--prev')) {
        for (let i = 0; i < 3; i++) {
          if (pagination_stack.length >  0) {
            lek = pagination_stack.pop();
            if (i == 2) {
              tmp_stack.push(lek);
            }
          } else {
            lek = {'id': '', 'title': ''}
            break;
          }
        }
        next = false;
      } else {
        lek = pagination_stack.pop();
        tmp_stack.push(lek);
      }

      $.ajax (
        {
          type: 'GET',
          url:'/mysite/list_pagination',
          data: {
            lek_id: lek.id,
            lek_title: lek.title,
          },
          dataType: 'json',
          success: function(data) {
            updatePaginationStack(data.lek, tmp_stack)
            generateContentList(data.articles);
          },
        }
      );
    });

    function updatePaginationStack(next_lek, tmp_stack){
      while(tmp_stack.length > 0) {
        pagination_stack.push(tmp_stack.pop());
      }

      if (pagination_stack.length == 0) {
        $('.btn--prev').addClass('d-none');
      } else {
        $('.btn--prev').removeClass('d-none');
      }

      if(next_lek.id == '') {
        $('.btn--next').addClass('d-none');
      } else {
        $('.btn--next').removeClass('d-none');
      }

      pagination_stack.push(next_lek);
    }

    function generateContentList(articles) {
      var html="<div class='text-center text-primary lead'>No More Content.</div>";
      if (articles.length > 0) {
        html = "<ul>";
        $.each(articles, function(i, a){
          html+="<li><a href='/mysite/page/" + a.id + "'>" + a.title + "</a></li>";
        });
        html += "</ul>";
      }
      $('.content_list').html(html);
    }
  </script>
</body>
</html>
