<!DOCTYPE html>
{% load static %}
<html lang="en">
{% include "mysite/head.html" %}
<body id="page-top">
  {% include "mysite/nav.html" %}
  <section class="listHead listHead-heading bg-primary text-white text-uppercase mb-0 text-center ">
    <div class="ml-5">
      blogs
    </div>
  </section>
  <section class="page-section" id="list_body">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="content_list">
            {% if articles %}
                <ul>
                {% for article in articles %}
                    <li><a href="/mysite/page/{{article.id}}">{{ article.category }} - {{ article.title }}</a></li>
                {% endfor %}
                </ul>
            {% else %}
                <p>No contents are available.</p>
            {% endif %}
          </div>
          <div class="pagination-wrapper">
            {% if lek %}
              <input type="text" class="d-none" id="lek_id" name="id" value="{{ lek.id.S }}">
              <input type="text" class="d-none" id="lek_title" name="title" value="{{ lek.title.S }}">
            {% endif %}
            <svg class="page_btn btn--prev" height="60" viewBox="0 0 24 24" width="96" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.41 16.09l-4.58-4.59 4.58-4.59L14 5.5l-6 6 6 6z"/>
              <path d="M0-.5h24v24H0z" fill="none"/>
            </svg>
            <div class="pagination-container">
              <div class="little-dot  little-dot--first"></div>
              <div class="little-dot">
                <div class="big-dot-container">
                  <div class="big-dot"></div>
                </div>
              </div>
              <div class="little-dot  little-dot--last"></div>
            </div>

            <svg class="page_btn btn--next" height="60" viewBox="0 0 24 24" width="96" xmlns="http://www.w3.org/2000/svg">
              <path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"/>
              <path d="M0-.25h24v24H0z" fill="none"/>
            </svg>
          </div>
        </div>
        <div class="col-md-12 col-lg-4 sidebar">
          <div class="sidebar-box search-form-wrap">
            <form action="#" class="search-form">
              <div class="form-group">
                <input type="text" class="form-control" id="s" placeholder="Type a keyword and hit enter">
              </div>
            </form>
          </div>
          <!-- END sidebar-box -->
          <div class="sidebar-box">
            <h3 class="heading">Categories</h3>
            <ul class="categories">
              <li><a href="#">Food <span>(12)</span></a></li>
              <li><a href="#">Travel <span>(22)</span></a></li>
              <li><a href="#">Lifestyle <span>(37)</span></a></li>
              <li><a href="#">Business <span>(42)</span></a></li>
              <li><a href="#">Adventure <span>(14)</span></a></li>
            </ul>
          </div>
          <!-- END sidebar-box -->
          <div class="sidebar-box">
            <h3 class="heading">Tags</h3>
            <ul class="tags">
              <li><a href="#">Travel</a></li>
              <li><a href="#">Adventure</a></li>
              <li><a href="#">Food</a></li>
              <li><a href="#">Lifestyle</a></li>
              <li><a href="#">Business</a></li>
              <li><a href="#">Freelancing</a></li>
              <li><a href="#">Travel</a></li>
              <li><a href="#">Adventure</a></li>
              <li><a href="#">Food</a></li>
              <li><a href="#">Lifestyle</a></li>
              <li><a href="#">Business</a></li>
              <li><a href="#">Freelancing</a></li>
            </ul>
          </div>
          <!-- END sidebar-box -->
          <div class="sidebar-box">
            <h3 class="heading">Popular Posts</h3>
            <div class="post-entry-sidebar">
              <ul>
                <li>
                  <a href="">
                    <div class="text">
                      <h5>There’s a Cool New Way for Men to Wear Socks and Sandals</h4>
                      <div class="post-meta">
                        <span class="mr-2">March 15, 2018 </span>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <a href="">
                    <div class="text">
                      <h5>There’s a Cool New Way for Men to Wear Socks and Sandals</h4>
                      <div class="post-meta">
                        <span class="mr-2">March 15, 2018 </span>
                      </div>
                    </div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <!-- END sidebar-box -->
        </div>
        <!-- END sidebar -->
      </div>
    </div>
  </section>

  {% include "mysite/footer.html" %}
  <script src="{% static 'mysite/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'mysite/js/site.js' %}"></script>
  <script src="{% static 'mysite/js/pagination.js' %}"></script>

  <script type="text/javascript">
    var pagination_stack = [];
    if (pagination_stack.length == 0) {
      pagination_stack.push({'id': $('#lek_id').val(), 'title': $('#lek_title').val()});
    }

    $('.page_btn').click(function() {
      var cur_lek = pagination_stack.pop();
      var pre_lek = {'id': '', 'title': ''}
      next = true;
      if ($(this).hasClass('btn--prev') && pagination_stack.length > 0) {
        pagination_stack.pop();
        if (pagination_stack.length > 0) {
          pre_lek = pagination_stack.pop();
        }
        next = false;
      }
      lek = (next ? cur_lek : pre_lek);
      $.ajax (
        {
          type: 'GET',
          url:'/mysite/list_pagination',
          data: {
            lek_id: lek.id,
            lek_title: lek.title,
            next: next,
          },
          dataType: 'json',
          success: function(data) {
            generateContentList(data.articles, data.lek, pre_lek, cur_lek, next);
          },
        }
      );
    });

    function generateContentList(articles, next_lek, pre_lek, cur_lek, next) {

      if (next) {
        pagination_stack.push(pre_lek);
        pagination_stack.push(cur_lek);
      }

      pagination_stack.push(next_lek);
      var html="<ul>";
      $.each(articles, function(i, a){
        html+="<li><a href='/mysite/page/" + a.HASH + "'>" + a.RANGE + "</a></li>";
      });
      html += "</ul>";
      $('.content_list').html(html);
    }
  </script>
</body>
</html>
