<!DOCTYPE html>
{% load static %}
<html lang="en">
{% include "mysite/head.html" %}
<body id="page-top">
  {% include "mysite/nav.html" %}
  <section class="listHead listHead-heading bg-primary text-white text-uppercase mb-0 text-center ">
    <div class="ml-5">
      blogs cabin
    </div>
  </section>
  <section class="page-section" id="list_body">
    <div class="container">
      <div class="row">
        <div class="col-3">
            categories
        </div>
        <div class="col-9">
          {% if articles %}
              <ul>
              {% for article in articles %}
                  <li><a href="/mysite/page/{{article.id}}">{{ article.category }} - {{ article.title }}</a></li>
              {% endfor %}
              </ul>
          {% else %}
              <p>No contents are available.</p>
          {% endif %}
        </div>
      </div>
    </div>
  </section>
  {% include "mysite/footer.html" %}

  <script src="{% static 'mysite/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'mysite/js/site.js' %}"></script>
</body>
</html>
